{% extends "base.html" %}

{% block content %}
<h1>{{question.question_text}}</h1>

{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post" class="form">
{% csrf_token %}
<div class="form-group">
{% for choice in question.choice_set.all %}
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" class="form-check-input" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}" class="form-check-label">{{ choice.choice_text }}</label><br />
{% endfor %}
</div>
<input type="submit" value="Vote" class="btn btn-primary" />
</form>
{% endblock %}
